/* Global settings */
* {
    border: none;
    border-radius: 0;
    font-family: Sans, Awesome, sans-serif;
    font-size: 16px;
}

/* Bar and stuff */
window#waybar {
    background: transparent;
    transition-property: background-color;
    transition-duration: .3s;
}
window#waybar.hidden {
    opacity: 0.2;
}

/* Stuff related to river tags */
#tags button {
    background-color: #232634;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    color: #c6ceef;
    padding: 0 10px;
}
#tray {
    padding-right: 20px;
    padding-left: 20px;
}
#tags button:hover {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 -3px #c6ceef;
}

#tags button.focused {
    background-color: #303446;
    color: #e78284;
    box-shadow: inset 0 -3px #e78284;
}

#tags button.urgent {
    background-color: #e78284;
}

#tags {
    margin: 0 8px;
}
label:focus {
    background-color: #303446;
}


/* Color scheme 1: yellow on somewhat lighter background */
#cpu, #memory, #disk, #backlight, #temperature, #battery, 
#battery.charging, #battery.plugged, #pulseaudio, #temperature, #tray
#network, #custom-nmclicheck, #custom-space, #custom-power, #custom-rofi {
    background-color: #303446;
    color: #c6ceef;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
}
#custom-nmclicheck{
    margin-left: 0px;
    border-radius: 10px 0px 0px 10px;    
}
#battery, #custom-power, #custom-rofi {
    margin-right: 0px;
    border-radius: 0px 10px 10px 0px;
}

/* Color scheme 1 alt: critical cases for 1 */
#pulseaudio.muted, #temperature.critical , #battery.critical:not(.charging){
    background-color: #e78284;
    color: #303446;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
}
#battery.critical:not(.charging) {
    margin-right: 0px;
    border-radius: 0px 10px 10px 0px;
}

/* Color scheme 2: stuff in life */
#clock, #custom-weather {
    background-color: #303446;
    color: #99d1db;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
#clock {
    border-radius: 10px 0px 0px 10px;
}
#custom-weather {
    border-radius: 0px 10px 10px 0px;
}

/* Last color scheme for the logo */
#custom-logo {
    padding: 0 15px;
    margin-right: 0px;
    background-color: #303446;
    color: #c6ceef;
    border-radius: 10px 0px 0px 10px;
}
